@media (max-width: 576px) {
  /* START BANNER */
  #banner {
    padding-bottom: 50px;
  }

  #banner .banner-content .title,
  #banner .banner-content-slide p {
    font-size: 40px;
  }

  #banner .banner-content-slide-container {
    height: 65px;
  }

  #banner .banner-icon {
    display: none;
  }

  #banner .banner-desc p {
    font-size: 16px;
    font-weight: 400;
    width: 95%;
  }

  /* END BANNER */

  /* START PROJECT */
  #project .project-slide {
    padding: 50px;
  }

  #project .project-slide-img {
    width: 300px;
  }

  #project .project-slide-item {
    gap: 50px;
    margin-bottom: 50px;
  }
  /* END PROJECT */

  /* START VIDEO */
  #video {
    margin: 100px 0;
  }

  #video .video-text h2 {
    font-size: 20px;
  }
  /* END VIDEO */

  /* START SERVICE */
  #service {
    margin-top: 100px;
  }
  #service .service-text h2 {
    font-size: 40px;
  }

  #service .service-desktop {
    display: none;
  }

  #service .service-mobile {
    display: block;
  }

  #service .service-mobile .service-wrapper {
    margin-top: 50px;
  }

  #service .service-mobile .service-item {
    display: block;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 150px;
    overflow: hidden;
    background-color: var(--gray);
    padding: 50px 20px 60px;
    transition: height cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
  }

  #service .service-mobile .service-item .service-item-badge {
    margin-top: 50px;
  }

  #service .service-mobile .service-item:nth-child(3) .service-item-badge p {
    border: 1px solid #fff;
    color: #fff;
  }

  #service .service-mobile .service-item:nth-child(3) .service-item-text h3,
  #service .service-mobile .service-item:nth-child(3) .service-item-text p {
    color: #fff;
  }

  #service .service-mobile .service-item:nth-child(3) .service-img-item rect,
  #service .service-mobile .service-item:nth-child(3) .service-img-item path {
    stroke: #fff;
  }

  #service .service-mobile .service-item:nth-child(3) .service-img-item circle {
    fill: #fff;
  }

  #service .service-mobile .service-item.active {
    height: 600px;
    display: flex;
  }

  #service .service-mobile .service-item-badge {
    display: flex;
    justify-content: start;
    gap: 15px;
  }

  #service .service-mobile .service-item-badge p {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #000;
  }

  #service .service-mobile .service-item-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  #service .service-mobile .service-item-text h3 {
    font-size: 40px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }

  #service .service-mobile .service-item .toggle-service {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    flex-direction: column;
  }

  #service .service-mobile .service-item .toggle-service .line {
    width: 50px;
    height: 2px;
    transition: all ease 0.75s;
    background-color: #000;
  }

  #service .service-mobile .service-item .toggle-service .line:first-child {
    transform: rotate(-90deg);
  }

  #service .service-mobile .service-item-text p {
    font-size: 18px;
    width: 100%;
  }
  /* END SERVICE */
}
