/* START BANNER */
#banner {
  margin-top: 200px;
}

#banner .banner-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  justify-content: center;
  padding-left: 50px;
}

#banner .banner-content .banner-text {
  font-size: 60px;
  font-weight: 600;
}

#banner .banner-content .banner-text span {
  color: var(--dark-gray);
}

#banner .banner-content .banner-desc p {
  font-size: 20px;
  font-weight: 500;
}

#banner .banner-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#banner .banner-img,
#banner .banner-img svg {
  width: 100%;
}
/* END BANNER */

/* START ADVANTAGE */
#advantage {
  margin-top: 200px;
  padding: 100px 0;
  background-color: #000;
}

#advantage .advantage-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#advantage .advantage-text * {
  color: #fff;
}

#advantage .advantage-text .title {
  font-size: 60px;
  font-weight: 600;
}

#advantage .advantage-text .desc {
  font-size: 20px;
  font-weight: 500;
}

#advantage .advantage-list {
  margin-top: 100px;
}

#advantage .advantage-list .col-lg-6 {
  margin-top: 150px;
}

#advantage .advantage-list .col-lg-6:nth-child(1),
#advantage .advantage-list .col-lg-6:nth-child(2) {
  margin-top: 0;
}

#advantage .advantage-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-left: 2px solid #fff;
  padding: 0 30px;
  gap: 50px;
}

#advantage .advantage-item-img {
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#advantage .advantage-item-img svg {
  width: 100%;
}

#advantage .advantage-item * {
  color: #fff;
}

#advantage .advantage-item .title {
  font-size: 30px;
}

#advantage .advantage-item .desc {
  width: 90%;
}

/* END ADVANTAGE */

/* START REASON */
#reason {
  margin-top: 200px;
}

#reason .reason-title .title {
  font-size: 60px;
  font-weight: 600;
  line-height: 0.8;
}

#reason .reason-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
}

#reason .reason-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
}

#reason .reason-item:hover .number {
  background-color: #000;
}

#reason .reason-item:hover .number p {
  color: #fff;
}

#reason .reason-item p {
  margin-bottom: 0;
}

#reason .reason-item .number {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  padding: 3px 0;
  border-radius: 50px;
  transition: all ease 0.3s;
  border: 1px solid #000;
}

#reason .reason-item .number p {
  margin-bottom: 0;
  transition: all ease 0.3s;
  font-family: "Lato", sans-serif;
}
/* END REASON */

/* START PROJECT */
#project {
  margin-top: 100px;
}

#project .project-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#project .project-text * {
  color: #000;
}

#project .project-text .title {
  font-size: 60px;
  font-weight: 600;
}

#project .project-text .desc {
  font-size: 20px;
  font-weight: 500;
}

#project .project-list-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: start;
}

#project .project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 200px;
  align-items: center;
  width: 50%;
}

#project .project-list:nth-child(2) {
  margin-top: 100px;
}

#project .project-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

#project .project-item-img {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#project .project-item-img img {
  width: 100%;
}

#project .project-item-video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0;
  transition: all ease 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

#project .project-item:hover .project-item-video {
  opacity: 1;
}

#project .project-item-video video {
  height: 120%;
}

/* END PROJECT */

/* START CONTACT */
#contact {
  margin-top: 200px;
  background-color: var(--yellow);
  padding: 150px 0;
}

#contact .contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#contact .contact-text h2,
#contact .contact-text p {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0;
}

#contact .contact-button {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
}

/* END CONTACT */

/* START RESPONSIVE */
@media (max-width: 576px) {
  /* START BANNER */
  #banner {
    margin-top: 100px;
  }

  #banner .banner-content {
    padding-left: 0;
  }

  #banner .banner-content .banner-text {
    font-size: 30px;
  }

  #banner .banner-content .banner-desc p {
    font-size: 16px;
    width: 100%;
  }

  #banner .button .text {
    font-size: 16px;
  }

  /* END BANNER */

  /* START ADVANTAGE */
  #advantage {
    margin-top: 100px;
  }

  #advantage .advantage-text .title {
    font-size: 30px;
  }

  #advantage .advantage-text .desc {
    font-size: 16px;
  }

  #advantage .advantage-list {
    margin-top: 50px;
  }

  #advantage .advantage-list .col-lg-6:nth-child(2),
  #advantage .advantage-list .col-lg-6 {
    margin-top: 100px;
  }

  #advantage .advantage-item {
    gap: 30px;
    padding: 0 0 0 30px;
  }
  #advantage .advantage-item .title {
    font-size: 25px;
  }

  #advantage .advantage-item .desc {
    font-size: 16px;
    width: 100%;
  }
  /* END ADVANTAGE */

  /* START SERVICE */
  #service {
    margin-top: 0;
  }

  #service .service-img {
    padding: 0;
  }

  #service .service-text .title {
    font-size: 30px;
  }
  /* END SERVICE */

  /* START REASON */
  #reason {
    margin-top: 100px;
  }

  #reason .reason-title .title {
    font-size: 30px;
    line-height: 1;
  }

  #reason .reason-list {
    margin-top: 50px;
  }

  #reason .reason-item {
    font-size: 16px;
    gap: 15px;
  }

  #reason .reason-item .number {
    min-width: 60px;
  }
  /* END REASON */

  /* START PROJECT */

  #project .project-text .title {
    font-size: 30px;
  }

  #project .project-text .desc {
    font-size: 16px;
  }

  #project .project-list-container {
    margin-top: 50px;
    flex-direction: column;
  }

  #project .project-list {
    gap: 50px;
    width: 100%;
  }

  #project .project-list:nth-child(2) {
    margin-top: 0;
  }

  /* END PROJECT */

  /* START CONTACT */
  #contact {
    margin-top: 100px;
  }

  #contact .contact-text h2 {
    font-size: 35px;
  }

  #contact .contact-text p {
    display: none;
  }

  #contact .contact-button {
    justify-content: start;
    margin-top: 50px;
  }
  /* END CONTACT */
}
/* END RESPONSIVE */
