/* START BANNER */
#banner {
  margin-top: 200px;
}
#banner h2 {
  font-size: 60px;
  font-weight: 600;
}

#banner h2 span {
  color: #6d6d6d;
}

#banner .banner-img {
  margin-top: 80px;
  width: 100%;
}

#banner .banner-img img {
  width: 100%;
}
/* END BANNER */

/* START SERVICE */
#service {
  margin: 100px 0;
}

#service .service-title .subtitle p {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

#service .service-title .title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#service .service-title .title h2 {
  font-size: 40px;
  font-weight: 600;
}

#service .service-title .title p {
  font-size: 18px;
  width: 60%;
}

#service .service-list {
  margin-top: 50px;
}

#service .service-item {
  border: 1px solid #000;
  height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  justify-content: space-between;
}

#service .service-item .service-item-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#service .service-item .service-item-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#service .service-item .service-item-text .text {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

#service .service-item .service-item-text .text::after {
  content: "";
}

#service .service-item .service-item-text .icon {
  width: 20px;
}

#service .service-item .service-item-text .icon svg {
  width: 100%;
  height: auto;
}

/* END SERVICE */

/* START RESPONSIVE */
@media (max-width: 576px) {
  /* START BANNER */

  #banner h2 {
    font-size: 40px;
  }
  /* END BANNER */

  /* START SERVICE */
  #service {
    margin-top: 50px;
  }

  #service .service-title .subtitle p {
    font-size: 16px;
  }

  #service .service-title .title h2 {
    font-size: 30px;
  }

  #service .service-title .title p {
    font-size: 14px;
    width: 100%;
  }
  /* END SERVICE */
}
/* END RESPONSIVE */
