/* START BANNER */
#banner {
  margin-top: 200px;
}

#banner .banner-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  justify-content: center;
}

#banner .banner-content .banner-text {
  font-size: 60px;
  font-weight: 600;
}

#banner .banner-content .banner-text span {
  color: var(--dark-gray);
}

#banner .banner-content .banner-desc p {
  font-size: 20px;
  font-weight: 500;
  width: 90%;
}

#banner .banner-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#banner .banner-img,
#banner .banner-img svg {
  width: 100%;
}
/* END BANNER */

/* START ADVANTAGE */
#advantage {
  margin-top: 200px;
  padding: 100px 0;
  background-color: #000;
}

#advantage .advantage-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#advantage .advantage-text * {
  color: #fff;
}

#advantage .advantage-text .title {
  font-size: 60px;
  font-weight: 600;
}

#advantage .advantage-text .desc {
  font-size: 20px;
  font-weight: 500;
  width: 70%;
}

#advantage .advantage-list {
  margin-top: 100px;
}

#advantage .advantage-list .col-lg-6 {
  margin-top: 150px;
}

#advantage .advantage-list .col-lg-6:nth-child(1),
#advantage .advantage-list .col-lg-6:nth-child(2) {
  margin-top: 0;
}

#advantage .advantage-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-left: 2px solid #fff;
  padding: 0 30px;
  gap: 50px;
}

#advantage .advantage-item-img {
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#advantage .advantage-item-img svg {
  width: 100%;
}

#advantage .advantage-item * {
  color: #fff;
}

#advantage .advantage-item .title {
  font-size: 30px;
}

#advantage .advantage-item .desc {
  width: 90%;
}

/* END ADVANTAGE */

/* START PROJECT */
#project {
  background-color: #000;
  padding: 100px 0 0;
}

#project .project-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#project .project-text * {
  color: #fff;
}

#project .project-text .title {
  font-size: 60px;
  font-weight: 600;
}

#project .project-text .desc {
  font-size: 20px;
  font-weight: 500;
}

#project .project-slide {
  padding: 100px 0;
  overflow: hidden;
}

#project .project-slide-item {
  display: flex;
  flex-wrap: nowrap;
  min-width: fit-content;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 100px;
}

#project .project-slide-item:first-child {
  animation: imageSlide linear 30s infinite reverse;
}

#project .project-slide-item:last-child {
  animation: imageSlide linear 30s infinite;
  margin-bottom: 0;
}

#project .project-slide-img {
  width: 600px;
  height: auto;
}

#project .project-slide-img img {
  width: 100%;
}

/* END PROJECT */

/* START PROCESS */
#website-design-process {
  margin-top: 200px;
}

#website-design-process .process-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#website-design-process .process-text .title {
  font-size: 60px;
  font-weight: 600;
  line-height: 0.8;
  text-align: center;
}

#website-design-process .process-text .desc {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

#website-design-process .process-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
  width: fit-content;
  margin: auto;
  position: relative;
}

#website-design-process .process-list::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 35px;
  z-index: -1;
}

#website-design-process .process-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
}

#website-design-process .process-item:hover .number {
  background-color: var(--yellow);
}

#website-design-process .process-item:hover .number p {
  color: #000;
}

#website-design-process .process-item p {
  margin-bottom: 0;
}

#website-design-process .process-item .number {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  padding: 3px 0;
  border-radius: 50px;
  transition: all ease 0.3s;
  border: 3px solid #f1f1f1;
  background-color: #000;
}

#website-design-process .process-item .number p {
  margin-bottom: 0;
  transition: all ease 0.3s;
  font-family: "Lato", sans-serif;
  color: #f1f1f1;
}

#website-design-process .process-img,
#website-design-process .process-img svg {
  width: 100%;
}

#website-design-process #global,
#website-design-process #satellite,
#website-design-process #button1,
#website-design-process #button2,
#website-design-process #button3,
#website-design-process #glasses {
  animation: up 2s cubic-bezier(0.77, 0, 0.175, 1) infinite alternate-reverse;
}
#website-design-process #star1,
#website-design-process #star2,
#website-design-process #star3 {
  animation: down 2s cubic-bezier(0.77, 0, 0.175, 1) infinite alternate-reverse;
}

#website-design-process #satellite {
  animation-delay: 0.5s;
}
#website-design-process #button1 {
  animation-delay: 0.75s;
}
#website-design-process #button2 {
  animation-delay: 1s;
}
#website-design-process #button3 {
  animation-delay: 1.25s;
}

#website-design-process #glasses {
  animation-delay: 1s;
}

#website-design-process #star1 {
  animation-delay: 0.5s;
}
#website-design-process #star2 {
  animation-delay: 0.75s;
}
#website-design-process #star3 {
  animation-delay: 1s;
}

/* END PROCESS */

/* START PRICE */
#website-design-price {
  margin-top: 100px;
}

#website-design-price .price-package-item {
  width: 100%;
  padding: 30px 0 0px 50px;
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
}

#website-design-price .price-package-item.active {
  padding-bottom: 50px;
}

#website-design-price
  .price-package-item.active
  .price-package-item-content-list {
  grid-template-rows: 1fr;
}

#website-design-price
  .price-package-item.active
  .price-package-item-header-title
  .toggle-indicator
  .line:first-child {
  transform: rotate(90deg);
}

#website-design-price .price-desktop {
  display: block;
}

#website-design-price .price-mobile {
  display: none;
}

#website-design-price .price-package-item.silver {
  background-color: var(--red);
}

#website-design-price .price-package-item.silver *,
#website-design-price .price-package-item.plantinum * {
  color: #f1f1f1;
  border-color: #f1f1f1 !important;
}

#website-design-price .price-package-item.silver .line,
#website-design-price .price-package-item.plantinum .line {
  background-color: #f1f1f1 !important;
}

#website-design-price .price-package-item.gold {
  background-color: var(--yellow);
}
#website-design-price .price-package-item.plantinum {
  background-color: #000;
}

#website-design-price .price-package-item-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  gap: 40px;
  padding-right: 50px;
  cursor: pointer;
}

#website-design-price .price-package-item-header-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 15px;
}

#website-design-price .price-package-item-header-badge p {
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid #000;
  font-weight: 500;
  margin-bottom: 0;
}

#website-design-price .price-package-item-header-title-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#website-design-price .price-package-item-header-title {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

#website-design-price .price-package-item-header-title .toggle-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

#website-design-price .price-package-item-header-title .toggle-indicator .line {
  width: 7px;
  height: 60px;
  background-color: #000;
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
}

#website-design-price
  .price-package-item-header-title
  .toggle-indicator
  .line:last-child {
  transform: rotate(90deg) translateY(7px);
}

#website-design-price .price-package-item-header-title .title {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 0;
}

#website-design-price .price-package-item-header-subtitle {
  font-size: 40px;
  margin-bottom: 0;
  font-weight: 600;
}

#website-design-price .price-package-item-content-list {
  width: 100%;
  margin-top: 100px;
  display: grid;
  grid-template-rows: 0fr;
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 1s;
  overflow: hidden;
}

#website-design-price .price-package-item-content-list table {
  width: 100%;
  grid-template-rows: 0fr;
  overflow: hidden;
}

#website-design-price .price-package-item-content-list tr td:first-child {
  text-align: left;
  width: 300px;
}
#website-design-price .price-package-item-content-list tr td:last-child {
  border-right: none;
}

#website-design-price .price-package-item-content-list th,
#website-design-price .price-package-item-content-list td {
  text-align: center;
  padding: 10px 0;
}

#website-design-price .price-package-item-content-list td {
  border-right: 1px solid #000;
  font-size: 18px;
}

#website-design-price .price-package-item-content-list td .button {
  justify-content: center;
}

#website-design-price .price-package-item-content-list th:first-child {
  font-size: 25px;
  font-weight: 500;
  text-align: left;
}

#website-design-price .price-package-item-content-list th .name {
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 500;
}

#website-design-price .price-package-item-content-list th .price {
  font-size: 40px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#website-design-price .price-package-item-content-list th .price span {
  color: var(--yellow);
  display: block;
  min-width: 240px;
}

/* END PRICE */

/* START PRODUCT */
#website-design-product {
  margin-top: 200px;
}

#website-design-product .product-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#website-design-product .product-text .title {
  font-size: 60px;
  font-weight: 600;
}

#website-design-product .product-text .desc {
  font-size: 20px;
  font-weight: 500;
  width: 80%;
}

#website-design-product .product-list {
  margin-top: 100px;
}

#website-design-product .product-item {
  position: relative;
  margin-bottom: 50px;
}

#website-design-product .product-item:hover .product-img img {
  transform: scale(1.1);
}

#website-design-product .product-img {
  width: 100%;
  overflow: hidden;
  height: 500px;
}

#website-design-product .product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease 1s;
}

#website-design-product .product-name {
  font-size: 20px;
  font-weight: 500;
  padding: 15px 20px;
  background-color: #f1f1f1;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 6;
}
/* END PRODUCT */

/* START BLOG */
#website-design-blog {
  margin-top: 200px;
}

#website-design-blog .blog-title .title {
  font-size: 60px;
  font-weight: 600;
}

#website-design-blog .blog-list {
  margin-top: 100px;
}

#website-design-blog .blog-item {
  border-left: 2px solid #000;
  min-height: 500px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#website-design-blog .blog-item:hover .blog-item-img img {
  transform: scale(1.1);
}

#website-design-blog .blog-item .blog-item-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-bottom: 24px;
  max-height: 500px;
  height: 100%;
  overflow: hidden;
}

#website-design-blog .blog-item .blog-item-img a {
  height: 100%;
  width: 100%;
}

#website-design-blog .blog-item .blog-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform ease 1s;
}

#website-design-blog .blog-item .blog-item-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#website-design-blog .blog-item .blog-item-text .text {
  font-size: 20px;
  text-transform: unset;
  font-weight: 600;
  max-width: 70%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#website-design-blog .blog-item .blog-item-text .text::after {
  content: "";
}

#website-design-blog .blog-item .blog-item-text .icon {
  width: 20px;
}

#website-design-blog .blog-item .blog-item-text .icon svg {
  width: 100%;
  height: auto;
}
/* END BLOG */

/* START CONTACT */
#contact {
  margin-top: 150px;
  background-color: var(--yellow);
  padding: 150px 0;
}

#contact .contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#contact .contact-text h2,
#contact .contact-text p {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0;
}

#contact .contact-button {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
}

/* END CONTACT */

/* START RESPONSIVE */
@media (max-width: 576px) {
  /* START BANNER */
  #banner .banner-content .banner-text {
    font-size: 30px;
  }

  #banner .banner-content .banner-desc p {
    font-size: 16px;
    width: 100%;
  }

  #banner .button .text {
    font-size: 16px;
  }

  /* END BANNER */

  /* START ADVANTAGE */
  #advantage {
    margin-top: 0;
  }

  #advantage .advantage-text .title {
    font-size: 30px;
  }

  #advantage .advantage-text .desc {
    font-size: 16px;
    width: 100%;
  }

  #advantage .advantage-list {
    margin-top: 50px;
  }

  #advantage .advantage-list .col-lg-6:nth-child(2),
  #advantage .advantage-list .col-lg-6 {
    margin-top: 100px;
  }

  #advantage .advantage-item {
    gap: 30px;
    padding: 0 0 0 30px;
  }
  #advantage .advantage-item .title {
    font-size: 25px;
  }

  #advantage .advantage-item .desc {
    font-size: 16px;
    width: 100%;
  }
  /* END ADVANTAGE */

  /* START PROJECT */
  #project {
    padding: 0;
  }

  #project .project-text .title {
    font-size: 30px;
  }

  #project .project-text .desc {
    font-size: 16px;
  }
  #project .project-slide {
    padding: 50px;
  }

  #project .project-slide-img {
    width: 300px;
  }

  #project .project-slide-item {
    gap: 50px;
    margin-bottom: 50px;
  }
  /* END PROJECT */

  /* START PROCESS */
  #website-design-process {
    margin-top: 100px;
  }

  #website-design-process .process-text .title {
    font-size: 30px;
  }

  #website-design-process .process-text .desc {
    font-size: 16px;
    width: 100%;
    margin: 0;
  }

  #website-design-process .process-item p {
    font-size: 16px;
  }

  #website-design-process .process-list {
    gap: 15px;
  }
  /* END PROCESS */

  /* START PRICE */
  #website-design-price .price-package-item-header {
    gap: 20px;
    padding-right: 0;
  }
  #website-design-price .price-package-item-header-badge p {
    font-size: 12px;
    padding: 10px 15px;
    gap: 20px;
  }

  #website-design-price .price-package-item-header-title {
    gap: 30px;
  }

  #website-design-price .price-package-item-header-title .title {
    font-size: 40px;
  }

  #website-design-price .price-package-item-header-subtitle {
    display: none;
  }

  #website-design-price .price-desktop {
    display: none;
  }

  #website-design-price .price-package-item.active {
    padding-bottom: 20px;
  }

  #website-design-price .price-mobile {
    display: grid;
    grid-template-rows: 0fr;
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 1.5s;
    overflow: hidden;
  }

  #website-design-price .price-package-item.active .price-mobile {
    grid-template-rows: 1fr;
  }

  #website-design-price .price-package-item {
    padding: 20px;
  }

  #website-design-price
    .price-package-item-header-title
    .toggle-indicator
    .line {
    width: 4px;
    height: 30px;
  }

  #website-design-price
    .price-package-item-header-title
    .toggle-indicator
    .line:last-child {
    transform: rotate(90deg) translateY(4px);
  }

  #website-design-price .price-package-item-content-list {
    margin-top: 25px;
  }

  #website-design-price .price-package-item-content-item {
    border-top: 1px solid #f1f1f1;
    margin-top: 25px;
    padding-top: 25px;
  }

  #website-design-price .price-package-item-content-item .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }

  #website-design-price .price-package-item-content-item .title .text span {
    display: block;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 5px;
  }

  #website-design-price .price-package-item-content-item ul {
    padding-left: 20px;
    margin-top: 20px;
  }

  #website-design-price .price-package-item-content-item ul li {
    margin: 5px 0;
    list-style: square;
    font-size: 16px;
    font-weight: 500;
  }

  #website-design-price
    .price-package-item.gold
    .price-package-item-content-item {
    border-color: #000;
  }

  /* END PRICE */

  /* START PRODUCT */
  #website-design-product {
    margin-top: 100px;
  }

  #website-design-product .product-text .title {
    font-size: 30px;
  }

  #website-design-product .product-text .desc {
    font-size: 16px;
    width: 100%;
  }

  #website-design-product .product-img {
    height: auto;
  }

  #website-design-product .product-img img {
    height: auto;
    object-fit: unset;
  }

  #website-design-product .product-name {
    font-size: 16px;
  }
  /* END PRODUCT */

  /* START BLOG */
  #website-design-blog .blog-title .title {
    font-size: 30px;
  }

  #website-design-blog .blog-list {
    margin-top: 50px;
  }

  #website-design-blog .blog-item .blog-item-text .text {
    font-size: 16px;
  }
  /* END BLOG */

  /* START CONTACT */
  #contact {
    margin-top: 100px;
    padding: 100px 0;
  }

  #contact .contact-text h2 {
    font-size: 35px;
  }

  #contact .contact-text p {
    display: none;
  }

  #contact .contact-button {
    justify-content: start;
    margin-top: 50px;
  }
  /* END CONTACT */
}
/* END RESPONSIVE */
