/* START BANNER */
#banner {
  margin-top: 200px;
}

#banner .banner-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  justify-content: center;
}

#banner .banner-content .banner-text {
  font-size: 60px;
  font-weight: 600;
}

#banner .banner-content .banner-text span {
  color: var(--dark-gray);
}

#banner .banner-content .banner-desc p {
  font-size: 20px;
  font-weight: 500;
  width: 90%;
}

#banner .banner-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .banner-img,
#banner .banner-img svg {
  width: 100%;
}
/* END BANNER */

/* START ADVANTAGE */
#advantage {
  margin-top: 200px;
  padding: 100px 0;
  background-color: #000;
}

#advantage .advantage-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#advantage .advantage-text * {
  color: #fff;
}

#advantage .advantage-text .title {
  font-size: 60px;
  font-weight: 600;
}

#advantage .advantage-text .desc {
  font-size: 20px;
  font-weight: 500;
}

#advantage .advantage-list {
  margin-top: 100px;
}

#advantage .advantage-list .col-lg-6 {
  margin-top: 150px;
}

#advantage .advantage-list .col-lg-6:nth-child(1),
#advantage .advantage-list .col-lg-6:nth-child(2) {
  margin-top: 0;
}

#advantage .advantage-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-left: 2px solid #fff;
  padding: 0 30px;
  gap: 50px;
}

#advantage .advantage-item-img {
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#advantage .advantage-item-img svg {
  width: 100%;
}

#advantage .advantage-item * {
  color: #fff;
}

#advantage .advantage-item .title {
  font-size: 30px;
}

#advantage .advantage-item .desc {
  width: 90%;
}

/* END ADVANTAGE */

/* START PROJECT */
#project {
  background-color: #000;
  padding: 100px 0 0;
}

#project .project-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#project .project-text * {
  color: #fff;
}

#project .project-text .title {
  font-size: 60px;
  font-weight: 600;
}

#project .project-text .desc {
  font-size: 20px;
  font-weight: 500;
}

#project .project-slide {
  padding: 100px 0;
  overflow: hidden;
}

#project .project-slide-item {
  display: flex;
  flex-wrap: nowrap;
  min-width: fit-content;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 100px;
}

#project .project-slide-item:first-child {
  animation: imageSlide linear 30s infinite reverse;
}

#project .project-slide-item:last-child {
  animation: imageSlide linear 30s infinite;
  margin-bottom: 0;
}

#project .project-slide-img {
  width: 600px;
  height: auto;
}

#project .project-slide-img img {
  width: 100%;
}

/* END PROJECT */

/* START CONTACT */
#contact {
  background-color: var(--yellow);
  padding: 150px 0;
}

#contact .contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#contact .contact-text h2,
#contact .contact-text p {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0;
}

#contact .contact-button {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
}

/* END CONTACT */

/* START RESPONSIVE */
@media (max-width: 576px) {
  /* START BANNER */
  #banner .banner-content .banner-text {
    font-size: 30px;
  }

  #banner .banner-content .banner-desc p {
    font-size: 16px;
    width: 100%;
  }

  #banner .button .text {
    font-size: 16px;
  }

  /* END BANNER */

  /* START ADVANTAGE */
  #advantage {
    margin-top: 0;
  }

  #advantage .advantage-text .title {
    font-size: 30px;
  }

  #advantage .advantage-text .desc {
    font-size: 16px;
  }

  #advantage .advantage-list {
    margin-top: 50px;
  }

  #advantage .advantage-list .col-lg-6:nth-child(2),
  #advantage .advantage-list .col-lg-6 {
    margin-top: 100px;
  }

  #advantage .advantage-item {
    gap: 30px;
    padding: 0 0 0 30px;
  }
  #advantage .advantage-item .title {
    font-size: 25px;
  }

  #advantage .advantage-item .desc {
    font-size: 16px;
    width: 100%;
  }
  /* END ADVANTAGE */

  /* START PROJECT */
  #project {
    padding: 0;
  }

  #project .project-text .title {
    font-size: 30px;
  }

  #project .project-text .desc {
    font-size: 16px;
  }
  #project .project-slide {
    padding: 50px;
  }

  #project .project-slide-img {
    width: 300px;
  }

  #project .project-slide-item {
    gap: 50px;
    margin-bottom: 50px;
  }
  /* END PROJECT */

  /* START CONTACT */
  #contact {
    padding: 100px 0;
  }

  #contact .contact-text h2 {
    font-size: 35px;
  }

  #contact .contact-text p {
    display: none;
  }

  #contact .contact-button {
    justify-content: start;
    margin-top: 50px;
  }
  /* END CONTACT */
}
/* END RESPONSIVE */
